*{
  
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1500px;
    margin: 0 auto;
    padding: 0;
}
header>ul:nth-child(2){
    display: flex;
    padding-right: 30px;
}
header>ul{
    display: flex;
    padding-left: 50px;
    color: #D4D4D4;

}
.list1{
    padding-right: 30px;
}
.list2{
    padding-right: 30px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #222222;
    padding-top: 54px;
}

.description{
    padding-left: 150px;
}
nav a{
margin-left: 40px;

}
.contact{
    display: flex;
    margin-left: 500px;
}

.contact__imag2 img{
    margin-left: 0px;
}
.description p{
    color:#D4D4D4;
    margin-top: 30px;
}
.description__butt{
    border-radius: 25px;
    color: black;
    padding-left: 30px;
    font-family: 'Verdana';
    width: 240px;
    height: 50px;
    margin-top: 54px;
    text-align: left;
    display: flex;
    align-items: center;
    background: url('images/right-arrow.svg') no-repeat 90% 50%;
    background-color: #FFCB06;
    font-family: 'Verdana';
    
}
.recommandations .a1:hover,.a2-a1:hover,.a3-a1:hover,.a4:hover,.a5:hover,.a6:hover{
    color: red;
}
nav.list{
    text-decoration: none;
}
nav>a.list__link,nav>a.list__link2,nav>a.list__link3{
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    font-family: 'Verdana';
    color: #D4D4D4;
}
nav{
    text-align:left ;
}
.contact{
margin-right: 200px;
flex-direction: row;
}
.header__logo img{
    margin-left: 160px;
}
.contact img{
    margin-left: 15px;
    flex-direction: row;
    align-self: flex-end;
}
.description{
    display: flex;
   justify-content: space-evenly;
   background-color: #222222;
   height: 699px;
}

.features{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding: 70px;
    background-color: #131313;
}
.features p {
    margin-top: 34px;
    color: #d4d4d4;
}
.moon-vacation .container{
    display: flex;
}
.info-about{
  display: flex;
   
}
.info-about img{
    margin-left: 190px;
}
.text{
    display: flex;
    margin-left: 79px;
}
.about-text__title{
    font-family: 'Courier New';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 27px;
margin-bottom: 44px;

}
.about__title{
    margin-top: 127px;

font-family: 'Courier New';
font-style: normal;
font-weight: 700;
font-size: 45px;
line-height: 51px;

background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}
.about-text__about p{
   
    
    /* Text */
    
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    
    color: #000000;
    margin-top: 30px;

}

.about-text__firstp p{
    margin-bottom:100px;
}
.recommandations__title{
    margin-bottom: 27px;
}
.recommandations{
    display: flex;
    padding: 40px;
}
li>a.a1{
    color: black;
    font-size: 19px;
    font-weight: bold;
}
.list li,.list-2 li{
    margin-bottom: 20px;
}
li>a.a2-a1{
    color: black;
    font-size: 19px;
    font-weight: bold;
}
li>a.a3-a1{
    color: black;
    font-size: 19px;
    font-weight: bold;
}
li>a.a4{
    color: black;
    font-size: 19px;
    font-weight: bold;
}
li>a.a5{
    color: black;
    font-size: 19px;
    font-weight: bold;

}
li>a.a6{
    color: black;
    font-weight:bold;
    font-size: 19px;
}
.list-2{
    margin-left: 120px;
}
.recommandations__title2{
    margin-bottom: 27px;
}
.list p {
    display: flex;
}
.list{
    margin-left: 150px;
}
ul>li>p{
    display:inline-block;
}
ul>li {
   list-style: none;
   
}
.list>li>p{
    margin-left: 10px;
}
section.vacation-request{
    width: 100%;
    height: 577px;

    background: #F0F0F0;
    border: 1px solid #FFFFFF;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
    

}
.vacation-request__question{
    margin:100px  0px 0px 162px;
    font-weight: 00;
    font-size: 24px;
    line-height: 27px;
    font-family: 'Verdana';
}
.vacation-request__text{
    position: relative;
    left: 162px;
    top: 60px;
    line-height: 17px;
    
}
.recommandations li::before{
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    margin-right:40px ;
    display: flex;
    background-color: #FFCB06;
    border-radius: 50%;
    margin-top: 6px;
}
.moon-vacation{
    margin-top: 80px;
    margin-bottom: 162px;
    background-color: #FFFFFF;
}
.table1 td{
    margin-bottom: 30px;
}
.block1{
    background: url("images/advantage-icon-1 1.svg")no-repeat;
    padding-top: 34px;
}
.block2{
    background: url("images/advantage-icon-2 1.svg")no-repeat;
    padding-top: 34px;
}
.block3{
    background: url("images/advantage-icon-3 1.svg")no-repeat;
    padding-top: 34px;
}
.block4__image{
    background: url("images/advantage-icon-4 1.svg")no-repeat;
    padding-top: 34px;
}
.a1{
    font-weight: bold;
}
.vacation-request{
    display: flex;
    justify-content: space-around;
}

.vacation-request__text{
    display: flex;
  
}
input{
    background-color: white;
}
td.coll-1{
    width: 440px;
}
table{
   width: 440px;
   height: 250px;
   margin-top: 108px;
}
.table1,.td{
    margin-top: 108px;
    background-color: white;
    padding: 10px;
}
label{
    margin-left: 10px;
    color: #000000;
    font-size: 14px;
    line-height: 17px;
    
    font-family: 'Verdana';
}
.a1,.a2-a1,.a3-a1,.a4,.a5,.a6{
    margin-left: 10px;
}
form{
    margin-top:20px    ;
}
.button1{
    margin-top: 46px;
    padding: 10px;
    color: white;
    width: 215px;
    height: 50px;
    border-radius: 25px;
    text-align: left;
    padding-left: 20px;
    background: url(images/arrow-white.svg) no-repeat;
    background-position: 80% 50%;
    background-color: #222222;
}
section.timetable{
    background-color: #222222;
    width: 100%;
    height: 468px;
    top:86px;
}

.introudction-info__title{
    font-size: 24px;
    color: #FECA30;
    font-family: 'Courier New', Courier, monospace;
    line-height: 27px;
    position: relative;
    top: 97px;
}
.introduction-info__text{
    font-size: 14px;
    color: white;
    position: relative;
    top: 97px;
    font-family: 'Verdana';
}
.introduction-info__text u{
    color: #FECA30 ;
}
th{
    background-color: #111111;
}
.introduction-info{
    display: flex;
    justify-content: space-around;
}
.table{
    color: white;
    
}
.table-container{
    display: flex;
    justify-content: center;
    position: relative;
    top:77px;
}
.table-container .table{
    border-spacing: 0;
    width: 67%;
    height: 100px;
    
}
th{
    font-family: 'Verdana';
    color: #D4D4D4;
}
th.col-1-th{
   text-align: left;
   padding-left: 10px;
}
.col-2-th{
    text-align: center;
    margin-right: 30px;
}
th.col-3-th{
    text-align:center;
}
.special-td{
    text-align: center;
}
.left-td{
    padding-left: 10px;
}
.table td{
    font-family: 'Verdana';
    font-size: 14px;
    color: #D4D4D4;
    font-weight: bold;
    border-bottom:1px solid #555555
}
footer{
    background-color: #131313;
    display: flex;
    justify-content: space-evenly;
    height: 354px;
}
.first-right-block__title,.second-right-block__title,.third-right-block__title{
    border-bottom:1px solid #555555;
    color: #D4D4D4;
    display: flex;
    font-size: 14px;
    width:180px;
    font-weight: bold;
    font-family: 'Verdana';
    padding-bottom: 10px;
}
.first-right-block,.second-right-block,.third-right-block{
    margin-top: 82px;
}
.company-about__title{
    color: #D4D4D4;
    margin-top: 77px;
    font-family: 'Verdana';
    font-size: 14px;
}
.author{
    color: #555555;
    margin-top:110px;
    float: left;
    
}
.subtitle1,.subtitle2,.subtitle3{
    color: #888888;
    margin-top: 20px;
    font-family: 'Verdana';
    font-size: 14px;
    line-height: 17px;
}
.company-about{
    display: flex;

}
.company-about__image{
    padding-right: 15px;
    margin-top: 52px;
}
.first-right-block__subtitles,.second-right-block__subtitles,.third-right-block__subtitles{
    margin-top: 58.07px;

}
.author>p{
    position: absolute;
    top:250px;
    bottom: 88px;
    
}
footer{
    position: relative;
}
.header-list>li:hover{
    color: white;
}
.subtitle1:hover,.subtitle2:hover,.subtitle3:hover{
    color: yellow;

}
.author:hover{
    font-weight: bold;
    color:white;
}

/* STYLES OTHER PAGES  */

header>ul>li>a{
    color: white;
    text-decoration: none;
}
header>ul>li>a:hover{
    opacity: 0.5;
}
.sputnik-section section{
    display: flex;
    justify-content: flex-end;
}
.sputnik-section img{
    width: 100%;
    height: 90%;
    
}
.sputnik-section>.blocksputnik:not(button){
    display: flex;
    justify-content: space-around;
    
    
}
.sputnik-section{
    background: url('images/background-stars.jpg') no-repeat ;

}
.blocksputnik h1{
    margin-top: 20px;
    font-size: 30px;
    color: orangered;
    margin-right: 100px;
}
.blocksputnik-text{
    line-height: 30px;
    color:white
}

.block-image img{
    height: 90%;
    margin-left: 70px;
    width: 80%;
}
.blocksputnik-heading{
  font-size: 20px;
}
.blocksputnik-text{
    margin-top: 70px;
}
.sputnik-section>button{
    width: 40%;
}
.link a {
    color: orange;  

}

.link__button>a{
    text-decoration: none;
}
button.link__button{
    transition-duration: 1s;
}
button.link__button:hover{
    height: 100px;
}
.diary-belka p{
    margin-top: 10px;
   
}
.link>button{
  width: 300px;
  height: 50px;
  margin-top: 20px;
  background-color: #FFCB06; /* черный цвет фона */
  padding: 10px 20px; /* отступы внутри кнопки */
  border: none; /* убираем границу */
  border-radius: 20px; /* скругляем углы */
  font-size: 16px; /* размер шрифта */
  font-weight: bold; /* жирный шрифт */
  transition-duration: 1s;

}
.link>button>a{
    color: black;
}
.block-image img{
    margin-top: 25px;
}
.block-diary{
    
    padding: 40px 0 40px 0;
    display: flex;
    justify-content: space-evenly;
    
}
.belka-about__title{
    font-size: 35px;
    color: orangered;
}
.belka-about__info{
    line-height: 30px;
    font-size: 25px;
    color: white;
    padding-top: 20px;
}
.button>button{
    width: 300px;
    height: 50px;
    margin-top: 20px;
    background-color: #FFCB06; /* черный цвет фона */
    color: black; /* желтый цвет текста */
    padding: 10px 20px; /* отступы внутри кнопки */
    border: none; /* убираем границу */
    border-radius: 20px; /* скругляем углы */
    font-size: 16px; /* размер шрифта */
    font-weight: bold; /* жирный шрифт */
    transition-duration: 1s;
}
.button>button>a{
    color: black;
}
.button button:hover{
    height: 100px;
}

.button>button>a{
    text-decoration: none;
}
.position-belka{
    margin-left: 40px;
}
.belka-image img{
    width: 100%;
    padding-left: 40px;
}
ul>li>b{
    color: orange;
    font-size: 20px;
}
.diary-belka ul>li{
    color: yellow;
    font-size: 20px;
}

.diary-belka p{
    color:yellowgreen;
}
.diary-belka{
    background:url("images//background-stars.jpg");
}
.project-about{
    display: flex;
    justify-content: space-around;
    background: url('images/background-stars.jpg')no-repeat;
    padding: 40px 0 40px 0;
}
.title{
    color: orangered;
    font-size: 35px;
    text-align: center;
}
.text{
    color: white;
    font-size: 25px;
    line-height: 30px;
    padding-top: 20px;
}
.project-about__logo img{
    height: 500px;
    width: 500px;
    margin-left: 100px;
}
.project-text-about{
    padding:0 30px 0 30px;
}
.undeordered-list li::before{
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    margin-left: -20px;
    display: flex;
    background-color: #FFCB06;
    border-radius: 50%;
    margin-top: 6px;
}
.undeordered-list li{
    font-weight: bold;
} 
.list-of-2 li{
    margin-left: 60px;
    color: greenyellow;
    font-weight: bold;
    
}

.list-of-2 li::before{
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    margin-left: -20px;
    display: flex;
    background-color:red;
    border-radius: 50%;
    margin-top: 6px;
}
.list3{
    margin-left: 60px;
    color: orangered;
    font-weight: bold;
}
.list3 li::before{
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    margin-left: -20px;
    display: flex;
    background-color:blue;
    border-radius: 50%;
    margin-top: 6px;
}